body {
    font-family: 'Lumanosimo', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.top-left {
    
    width: 40%;
    float: left;
    margin: 5px;
    padding: 5px;
}
.top-left h1{
    font-size: 35px;
}
#name{
    color: orange;
}

.top-left p{
    font-size: 16px;
    
}
.top-left img{
    width: 100%;
}
.top-left button{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.top-left a{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    font-weight: 400;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
  
}